/* Version 1.0 - 2022/12/05 -
GNU GPL Copyleft 🄯 2022-2032 -
Initiated by Ismael ARGENCE & Mathéo NGUYEN & Nathan FENOLLOSA */

:root {
    --bleuFonce: rgba(5, 28, 36);
    --noir: rgb(0, 0, 0);
    --bleuu: rgb(0, 144, 240);
    --entreDeux: rgba(0, 103, 141);
}

html {
    height: 100%;
}

body {
    background-color: var(--noir);
    margin: 0;
    padding: 0;
}

main {
    min-height: 80vh;
}

nav {
    background-color: var(--bleuFonce);
}

.nav-brand {
    text-decoration: none;
}

li {
    margin: 0px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}

a:hover {
    transition: all 0.5s ease;
    color: rgb(190, 190, 190);
}

.navbar {
    margin: 0px;
    padding: 0px;
    justify-items: center;
    align-items: center;
}

#nav-droite {
    position: absolute;
    right: 0;
}

#logo {
    width: 4em;
}

.img-tab {
    width: 5em;
    height: 5em;
}

.codeco {
    float: right;
}

.question_faq {
    color: var(--bleuu);
}

#div-realisations {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.lien_rea:link {
    text-decoration: none;
}



.titre_rea {
    color: black;
}

.iconFAQ {
    max-width: 1em;
    max-height: 1em;
    transition: 0.2s;
}

.iconFAQ:hover {
    transform: scale(1.2);
}

textarea {
    resize: none;
    width: 100%;
}

.realisations {
    width: 16em;
    border-radius: 5%;
    transition: 0.2s;
}

.realisations:hover {
    transform: scale(1.05);
}

/* Mise en forme des tableaux */
table,
th,
td {
    border: 1px solid #cccccc
}

/* Message d'avertissement */
.warning {
    color: red;
}

/* Bar de recherche */
#live-search {
    margin-bottom: 2em;
}

/* ACCUEIL */
.acc {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    max-height: 45em;
}

.imgAccueil {
    display: absolute;
    width: 16em;
    margin: auto;
    padding: 0.5em;
    border-radius: 2%;
}

#imgA2 {
    position: relative;
    margin-top: 5em;
}

.text-acc {
    color: black;
    border: 5px solid var(--bleuFonce);
    z-index: 1;
    position: relative;
    width: 500px;
    margin: auto;
    bottom: 22em;
    opacity: 0.8;
    border-radius: 5%;
    background-color: var(--bleuFonce);
}

#titre_accueil {
    color: var(--bleuu);
    font-weight: bolder;
    text-align: center;
    font-family: fantasy;
}

footer {
    color: var(--bleuu);
    position: sticky;
    top: 100%;
    margin-top: auto;
    background-color: var(--bleuFonce);
}

.card {
    box-shadow: 0px 0px 30px var(--bleuu);
    color: var(--noir);
}