:root{
    --nwar: rgba(5,28,36,255);
    --bleuu: rgba(4,187,255,255);
}

html{
    height: 100%;
}

body{
    background-color: var(--nwar);
    min-height: 100%; 
    margin:0; 
    padding:0; 
}

nav{
    background-color : var(--bleuu);
}

#logo{
    width: 3em;
    height: 3em;
}

.codeco{
    float: right;
}

.question_faq{
    color: var(--bleuu);
}

.align{
    display : inline-flex;
}

.lien_rea:link{
    text-decoration: none;
}

.titre_rea{
    color: black;
}

.iconFAQ{
    max-width: 1em;
    max-height: 1em;
}

textarea {
    resize: none;
  }

.realisations{
    width : 16em;
}

.my-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #1867c0;
    color: #ffffff;
    border: 1px solid #1867c0;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 1px;
    left: 4px;
    margin-right: 8px;
    position: relative;
    }
    
    .my-event.with-time {
    position: absolute;
    right: 4px;
    margin-right: 0px;
    }