:root{
    --nwar: rgba(5,28,36,255);
    /* --bleuu: rgba(4,187,255,255); */
    --bleuu: rgba(0,112,240,255);
    --entreDeux: rgba(0, 103, 141, 255);
}

html{
    height: 100%;
}

main{
    background-color: var(--nwar);
}

footer{
    background-color : var(--bleuu);
}

body{
    background-color: var(--nwar);
    min-height: 100%; 
    margin:0; 
    padding:0; 
}

ul{
    list-style-type: none
}

nav{
    background-color : var(--bleuu);
}


#logo{
    width: 3.5em;
}

#logo_perso{
    width: 1em;
}


.navbar{
    margin : 0px;
    padding: 0px;
}

.nav-droite{
    position: absolute;
    right:0.5em;
}


.codeco{
    float: right;
}

.question_faq{
    color: var(--bleuu);
}

#div-realisations{
    display: inline-flex;
    justify-content: center;    
}

.fullLarg{
    width: 90%;
}

.marg-choix{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.marg-btn{
    margin-top: 2.3em;
}

.lien_rea:link{
    text-decoration: none;
}

.titre_rea{
    color: black;
}

.info-reserv-logo{
    width: 1em;
    height: 1em;
}

.img-supps{
    float: inline-end;
}

.img-modal-reserv{
    width: 10em;
    height: 10em;
}

.acrd-crp{
    background-color: var(--nwar);
}

.acrd-hd{
    background-color: var(--entreDeux);
}

.accordion-item{
    border: none;
    border-radius: 0%;
}

.bords{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    max-width: 1500px;
}

.pad{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-clr{
    background-color: var(--nwar) !important;
}

.realisations{
    width : 16em;
}


/* ACCUEIL */
.acc{
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    width: 50em;
    max-height: 45em;
}

.imgAccueil{
    display: absolute;
    width: 16em;
    margin:auto;
    padding: 0.5em;
    border-radius: 2%;
}

#imgA2{
    position: relative;
    margin-top: 5em;
}

.text-acc{
    color : black;
    border : 5px solid var(--bleuu);
    z-index: 1;
    position: relative;
    width: 500px;
    margin:auto;
    bottom:22em;
    opacity: 0.7;
    border-radius: 5%;
    background-color: var(--bleuu);
}

#titre_accueil{
    color: var(--bleuu);
    font-weight: bolder;
    text-align: center;
    font-family: fantasy;
}

#bouton-modif-mdp{
    position: absolute;
    left: 7em;
}